@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RobotoBold";
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoRegular";
  src: url("./fonts/Roboto-Regular.ttf");
}

html,
body,
:root {
  height: 100%;
}

h1 {
  font-family: "RobotoBold";
}

p {
  font-family: "RobotoRegular";
  font-size: 16px;
}
